@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.sub-menu-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0.15;
}

.additional-options {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0.4;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.4;
}
