.course {
    border-bottom: 2px solid #ccc;
    margin: 15px 10px 15px 10px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
}

.course button {
    background-color: white;
    color: rebeccapurple;
    border-radius: 5px;
    border: 2px rebeccapurple solid;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
}

.course-body {
    display: none;
}

.course-buttons {
    margin-left: auto;
}

.course-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    flex: 9.2;
}

.course a {
    color: black;
}

.added-course {
    background-color: paleturquoise;
}

.d1 {
    background-color: rgb(99, 131, 133);
}
.d2 {
    background-color: rgb(99, 131, 133);
}
.d3 {
    background-color: rgb(99, 131, 133);
}
.wi {
    background-color: rgb(143, 149, 100);
}
.qfr {
    background-color: rgb(143, 149, 100);
}
.dpe {
    background-color: rgb(143, 149, 100);
}

.dreq {
    width: 22px;
    line-height: 22px;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-style: normal;
    margin: 0 2px 0 2px;
}

.course .column .row {
    line-height: 25px;
}
