.course {
    margin: 0px 20px 15px 20px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.course:hover {
    box-shadow: 0px 0px 10px indigo;
}

.course button:hover {
    box-shadow: 4px 4px 9px gray;
}

.course button {
    background-color: lavender;
    color: indigo;
    border-radius: 10px;
    margin-left: auto;
    width: 100%;
    padding: 5px 10px;
    border: none;
    display: inline-flex;
    line-height: 24px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.course-buttons {
    padding: 0 30px 20px 30px;
    vertical-align: middle;
}

.course-title {
    font-size: 24px;
    font-weight: 600;
    flex: 9.2;
    padding: 30px 0px 10px 0px;
    box-sizing: border-box;
    border-bottom: 2px solid #c3c3d0;
}

.title {
    padding-bottom: 10px;
}
.ra {
    text-align: right;
}

.header-info {
    color: #626268;
    font-size: 16px;
    text-transform: capitalize;
}

.course-title:hover {
    box-shadow: none;
}

.course-summary {
    padding: 10px 0px 15px 0px;
    box-sizing: border-box;
}

.course-body {
    padding: 0 30px 30px 30px;
}

.course-header {
    padding: 0 30px;
}

.course-body:hover {
    box-shadow: none;
}

.course a {
    color: black;
}

.added-course {
    background-color: paleturquoise;
}

.d1 {
    background-color: rgb(99, 131, 133);
}
.d2 {
    background-color: rgb(99, 131, 133);
}
.d3 {
    background-color: rgb(99, 131, 133);
}
.wi {
    background-color: rgb(143, 149, 100);
}
.qfr {
    background-color: rgb(143, 149, 100);
}
.dpe {
    background-color: rgb(143, 149, 100);
}

.dreq {
    width: 18px;
    line-height: 18px;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-style: normal;
    margin: 0 2px 0 2px;
}

.course .column .row {
    line-height: 25px;
}
