.day {
    line-height: 50px;
    min-height: 1em;
    display: flex;
    width: 150%;
}

.timetable {
    width: 100%;
}

.hour-title {
    width: calc(7% * 0.971);
    display: inline-block;
    font-weight: 600;
}

.hour-labels {
    height: 20px;
    display: block;
    width: 150%;
    border: none;
    margin-bottom: 5px;
}

.schedule {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 30px;
    padding-bottom: 20px;
}

.day-title {
    display: inline-block;
    width: 3%;
    text-align: center;
    border: 0.5px solid #ddd;
}

.day-title span {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-weight: 700;
}

.course-slot {
    box-sizing: border-box;
    position: absolute;
    background-color: orange;
    display: inline-block;
    border-bottom: 3px solid red;
    border-right: 2px solid red;
    line-height: 40px;
    padding: 2px 0px 4px 4px;
    margin-bottom: 3px;
    border-radius: 4px;
}

.course-slot div {
    font-size: 13px;
    line-height: 13px;
}

.course-slot-title {
    font-weight: 700;
}

.course-containers {
    height: 50px;
}
.course-day {
    border: 0.5px solid #ddd;
    position: relative;
    min-height: 50px;
    overflow: hidden;
    width: 98%;
    background: linear-gradient(to right, #fff 0% 50%, #eee 50% 100%);
    background-size: calc(200% / 14) 100%;
}

.schedule ol {
    padding-left: 0;
}

.buffer {
    width: 2.3%;
    display: inline-block;
}

.days-container {
    border: 0.5px solid #ddd;
}
