.day {
    line-height: 50px;
    min-height: 1em;
    display: flex;
    width: 200%;
}

.timetable {
    width: 100%;
}

.hour {
    width: calc(100% / 14);
    border: 1px solid blueviolet;
    display: inline-block;
}

.hour-title {
    width: calc(7% * 0.971);
    display: inline-block;
}

.hour-labels {
    height: 20px;
    display: block;
    width: 200%;
}

.schedule {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px;
}

.day-title {
    display: inline-block;
    width: 3%;
    text-align: center;
    border: 1px solid blueviolet;
}

.day-title span {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.course-slot {
    position: relative;
    background-color: orange;
    height: 90%;
    display: inline-block;
    border-bottom: 2px solid red;
    line-height: 40px;
}

.course-slot div {
    font-size: 10px;
    line-height: 10px;
    height: 10px;
}

.course-slot-title {
    font-weight: 700;
}

.course-containers {
    border: 1px solid blueviolet;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 98%;
    background: repeating-linear-gradient(
        to right,
        #fff 0% calc(100% / 14),
        #eee calc(100% / 14) calc(200% / 14)
    );
}

.schedule ol {
    padding-left: 0;
}

.buffer {
    width: 2.9%;
    display: inline-block;
}
