.submenu ul {
    list-style: none;
    padding-left: 0;
}

.submenu ul li:hover {
    cursor: pointer;
    background-color: #f4edfc;
    color: #68379e;
}

.list-item img {
    display: block;
    margin: auto;
}

.list-item {
    text-align: center;
    margin-bottom: 10px;
    height: 60px;
    padding-top: 10px;
    border-right: 5px solid #68379e;
    background-color: #f3f3f9;
    color: #68379e;
}

.submenu {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    min-height: 900px;
    color: 131315;
    box-shadow: 1px -1px 3px hsla(0, 0%, 0%, 0.2);
    background-color: #ffffff;
}

.unselected {
    color: #dbdbe3;
    border-right: 5px solid #ffffff;
    background-color: #ffffff;
}
