.added-courses {
    font-size: 18px;
    font-weight: 700;
}

.timetable-header {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

.unselectable {
    cursor: not-allowed;
}

.unselectable:hover {
    cursor: not-allowed;
}
